/* 
setup
*/
body {
    padding: 0;
    margin: 0;
    background-image: url("./assets/San,Diego,USA.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 106%;
    background-color:rgb(98, 98, 98);
}
@font-face {
    font-family: GlacialIndifferenceBold;
    src: url("./assets/glacial-indifference/GlacialIndifference-Bold.otf") format("opentype");
}
@font-face {
    font-family: GlacialIndifferenceItalic;
    src: url("./assets/glacial-indifference/GlacialIndifference-Italic.otf") format("opentype");
}
@font-face {
    font-family: GlacialIndifferenceRegular;
    src: url("./assets/glacial-indifference/GlacialIndifference-Regular.otf") format("opentype");
}
/* 
Baseline
*/
.regular {
    font-family: "GlacialIndifferenceRegular", sans-serif;
}
/*
Scrollable dropdowns
*/
.scrollable {
    height: 190px; 
    overflow-y: auto;
    position: absolute;
    top: 60px;
    left: 20px;
    width: 1360vw;
    font-family: "GlacialIndifferenceRegular", sans-serif;
    font-size: 19px;
    -webkit-text-fill-color: rgb(255, 255, 255, 0.6);

}
/*
Sliders
*/
.slider {
    -webkit-appearance: none;
    width: 20%;
    height: 15px;
    border-radius: 5px;
    background: rgb(167, 167, 167);;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
  }
/* 
Navbar
*/
.nav {
    order: 0;
    height: 110px;
    width: 100%;
    /* Width:401, height: 494 */
    background-color: rgb(84, 84, 84,0.9);
    border-radius: 20px;
    margin-bottom: 30px;
    float: left;
    margin-right: 20px;
    position: absolute;
    top: -50px;
    font-family: "GlacialIndifferenceRegular", sans-serif;
    font-size: 19px;
    color: rgb(167, 167, 167);
    transition: all 300ms ease-out 0ms;
    z-index:99998;
}
.nav input[type=text] {
    font-family: "GlacialIndifferenceRegular", sans-serif;
    border: none;
    outline: none;
    height: 35px;
    width: 335px;
    font-size: 19px;
    color: rgb(84, 84, 84);
    background-color: transparent;
    position: absolute;
    top: 60px;
    left: 33px;
    transition: filter 300ms ease-out 0ms;
    transition: transform 300ms ease-out 0ms;
}
/* .nav input:hover {
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0, 0.5));
    transform: scale(1.1);
    transform: translateY(-2px);
} */
::placeholder {
    font-family: "GlacialIndifferenceRegular", sans-serif;
    color: rgb(167, 167, 167);
}
.nav b {
    height: 37px;
    width: 34%;
    max-width: 97.5%;
    background-color: rgb(255, 255, 255, 0.75);
    border-radius: 51px;
    position: absolute;
    top: 60px;
    left: 15px;
    transition: filter 300ms ease-out 0ms;
    transition: transform 300ms ease-out 0ms;
}
.nav button {
    font-family: "GlacialIndifferenceRegular", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 15px;
    height: 37px;
    width: 125px;
    background-color: rgb(166, 166, 166, 0.75);
    border-radius: 51px;
    border: none;
    outline: none;
    transition: all 300ms ease-out 0ms;
}
.nav button:hover {
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0, 0.5));
    transform: scale(1.1);
    transform: translateY(-2px);
}
/* 
Today's info
*/
.location {
    font-family: "GlacialIndifferenceBold", sans-serif;
    font-size: 131px;
    text-align: center;
    caret-color: rgb(255, 255, 255, 0.72);
	-webkit-text-stroke: 6px rgb(255, 255, 255, 0.72);
	-webkit-text-fill-color: transparent;
    /* position: absolute; */
    top: 92px;
    left: 0%;
    /* 186px */
}
.temperature {
    font-family: "GlacialIndifferenceBold", sans-serif;
    font-size: 131px;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 7.2px 30.6px;
}
.info {
    font-family: "GlacialIndifferenceBold", sans-serif;
    font-size: 29.2px;
    color: white;
    /* 802px */
    text-shadow: rgba(0, 0, 0, 0.4) 0px 7.2px 30.6px;
}
/* 
Multiple day rotatable display
*/
.tile {
    height: 400px;
    width: 25%;
    /* Width:401, height: 494 */
    background-color: rgb(98, 98, 98, 0.7);
    border-radius: 30px;
    margin-bottom: 30px;
    float: left;
}
.disabled {
    fill: rgb(217, 217, 217);
    stroke: rgb(217, 217, 217);
    stroke-width: 100;
    opacity: 0.4;
}
.enabled {
    fill: rgb(255, 255, 255);
    stroke: rgb(255, 255, 255);
    stroke-width: 100;
    opacity: 0.75;
    transition: filter 300ms ease-out 0ms;
    transition: transform 300ms ease-out 0ms;
}
.enabled:hover {
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0, 0.5));
    transform: scale(1.1);
}
